@import "../../shared/styles/core";

.logo {
  display: flex;
  flex-direction: column;
  color: $menu-open-text-color;
  span {
    align-self: flex-start;
    &.main {
      font-size: $h3-font-size;
    }
    &.caption {
      font-size: $font-size-sm;
    }
  }
}
