@import "../../../shared/styles/core";

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.full-screen-menu {
  padding: 4rem 0;
  //background: url("paint-bg-inverted.jpg");
  background: rgba(0,0,0, 0.9);
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-sticky;
  animation: fadeIn 0.33s linear;
  .container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 8rem);
  }
  .main-row {
    flex-grow: 1;
  }
  button.full-screen-menu-btn {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    font-size: $h3-font-size;
    color: $menu-open-text-color;
    &:hover {
      color: white;
    }
    &.active {
      color: white;
    }
    &.main {
      font-size: $h1-font-size * 1.5;
      margin: 0.5rem 0;
    }
  }
}
