@import "../../../shared/styles/core";

.menu-button {
  &.open {
    color: $menu-open-text-color;
    &:hover {
      color: $menu-open-text-color-active;
    }
  }
  &.closed {
    color: $menu-closed-text-color;
    &:hover {
      color: $menu-closed-text-color-active;
    }
  }
}
