$primary: #4C1273;

$full-screen-menu-btn-text-color: #909090;
$full-screen-menu-btn-text-color-hover: #f0f0f0;

$font-family-base: 'Nunito Sans', sans-serif;

$menu-open-text-color: #B0B0B0;
$menu-closed-text-color: #606060;
