$primary: #E52B50;
$primary-light: #906da8;

$full-screen-menu-btn-text-color: #909090;
$full-screen-menu-btn-text-color-hover: #f0f0f0;

$font-family-base: 'Comfortaa', cursive;

$menu-open-text-color: #B0B0B0;
$menu-open-text-color-active: #FFFFFF;
$menu-closed-text-color: #505050;
$menu-closed-text-color-active: $primary;
