@import 'constants';
@import '~bootstrap';

@font-face {
  font-family: 'Roboto Light', sans-serif;
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular', sans-serif;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium', sans-serif;
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

.btn-primary {
  background-image: linear-gradient(to right, $primary , #906DA8);
  border-color: $primary;
  border-width: 4px;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  font-weight: bold;
  transition: 0.66s background ease;
}

.btn-secondary {
  background: transparent;
  border: 4px solid #505050;
  border-radius: 3rem;
  padding: 0.5rem 2rem;
  color: #505050;
  font-weight: bold;
}
