@import 'constants';
@import '~bootstrap';

@font-face {
  font-family: 'Roboto Light', sans-serif;
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Regular', sans-serif;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Medium', sans-serif;
  src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
