@import "../../shared/styles/core";

.navbar {
  background-color: #fff;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem !important;
  &__is-open {
    background: transparent;
    box-shadow: none;
  }
}
